<h4><%= t 'waiting_for_approval' if current_user&.pending? %></h4>
<div class="row">

<div class="card col-6 border-0" style="padding: 3%; width: 50%;">
 <div class="position-relative overflow-hidden text-left">
      <div class="text-center">
        <%= image_tag("cobraseguro.png", width: 500, height:170, class: 'mb-5') %>
        <p class="lead">Mais que uma empresa de pagamentos e antifraude, fazemos
        parte de um conjunto de três aplicações
        <p class="lead">que formam um sistema completo para venda de seguros para equipamentos eletrônicos!</p><br>
        <p class="lead">Programe promoções, escolha os melhores meios de pagamento para a sua seguradora,</p>
        <p class="lead">e muito mais! Traga sua seguradora para a CobraSeguro e aproveite agora todas as vantagens que </p>
        <p class="lead"> só a gente pode te oferecer!</p><br>
        <p class="lead">A CobraSeguro tem como pilares do seu trabalho a <strong>C</strong>olaboração, a <strong>O</strong>rientação ao mercado,</p>
        <p class="lead"><strong>B</strong>oas práticas, <strong>R</strong>esponsabilidade social, e <strong>A</strong>utenticidade.</p><br>
        <p class="lead">Você segura, a gente cobra!</p>
      </div>

    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
</div>
<div class="card  col-6 border-0" style="padding: 3%; width: 50%;">
  <%= image_tag "/images/home_image.png", width: 600, height:500 %>
</div>


<div class="lead text-center text-secondary">
  <h2>Conheça algumas de nossas empresas parceiras!</h2>
  <hr class="mb-5">
  <% if @insurance_companies_sample.present? %>
    <% @insurance_companies_sample.each do |company| %>
      <span class="mr-5" style="margin-right: 2%;"><%= image_tag company[:logo], height: 200, width: 300 %></span>
    <% end %>
  <% end %>
</div>