<div>
  <% if user_signed_in? %>
    <% if current_user.pending? %>
      <p> Aguardando aprovação do administrador do sistema. </p>
      <%= user_greetings(current_user) %>
    <% end %>
  <% end %>
  <% if admin_signed_in? %>
    <%= user_greetings(current_admin) %>
  <% end %>
  
<div>
