<% if(@promo.errors.any?) %>
<p>Verifique os erros abaixo:</p>
<ul>
  <% @promo.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h1> Cadastrar promoção </h1>
<%= form_with(model: @promo)  do |f| %>
  <%= render 'form', f: f %>
<% end %>

